%h1 Welcome to YNYW
/ %ul.emphasis
/   %li hello
/   %li hello1
/   %ul
/     %li hello from nest
/   %li hello2
/ %button{'data-file' => 'day'} Day
/ %button{'data-file' => 'night'} Night
/ %dl
/   %dt What are your hours?
/   %dd We are open 24/7.
/   %dt What are your hours?
/   %dd We are open 24/7.
/   %dt What are your hours?
/   %dd We are open 24/7.
/   %dt What are your hours?
/   %dd We are open 24/7.
/   %dt What are your hours?
/   %dd We are open 24/7.
    
/     

.content
  %h2 My Awesome Post
  .novel
    %p Rails is a web-application framework that includes everything needed to create database-backed web applications according to the Model-View-Controller (MVC) pattern.
  .article
    %p Rails is a web-application framework that includes everything needed to create database-backed web applications according to the Model-View-Controller (MVC) pattern.

    %p
      %span.co Rails is a web-application framework  
      that includes everything needed to create database-backed web applications according to the Model-View-Controller (MVC) pattern.
    %p
      asdfsdfas fsadfasdfasdf
%p
  %button Increase

/ #contact
/   =form_tag do
/     =text_field_tag :q
/     =button_tag 'Go' , class: 'search-button' , type: :submit

/ =link_to 'Click Me', 'http://google.com.au', class: 'radius button'
